.exercise {
    width: 300px;
    height: 510px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
}

.exercise img {
    width: 300px;
    height: 180px;
    border-radius: 8px;
    margin: 7px;
}

.exercise-info {
    margin: 0 14px;
}

.exercise-info p {
    margin-bottom: 0px;
    margin-top: 5px;
}

.exercise-name {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    margin-top: 7px;
}

.about {
    padding-bottom: 20px;
}

.btn-details {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #04AA6D;
    border: 1px solid #95A0A7;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
}

.btn-text {
    margin-right: 5px;
}

.btn-details:hover {
    background: rgb(47, 28, 224);
}

