.gym-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.exercises-container {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px 100px;
    position: relative;
}

.details-container {
    background: #31e4ae;
    position: sticky;
    top: 0;
}

.location {
    display: flex;
    align-items: center;
    justify-content: center;
}

.details {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    background-color: antiquewhite;
    margin-top: 20px;
}

.text {
    margin-top: 30px;
}

.break {
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    background-color: antiquewhite;
    margin-top: 50px;
}

.btn {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    border-radius: 50%;
}

.timeRequired {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 30px;
}

.breakRequired {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.btn-activity {
    margin-top: 50px;
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}
.btn-activity:hover{
    background: rgb(47, 28, 224);
}
.btn:hover{
    background: rgb(47, 28, 224);
}

@media screen and (max-width: 600px) {
    .gym-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .exercises-container {
        grid-template-columns: repeat(1, 1fr);
    }
}